<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89595953238-3v4cos171jo6g7ovmv81cqe8dp2o4ecc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89595953238-3v4cos171jo6g7ovmv81cqe8dp2o4ecc</string>
	<key>API_KEY</key>
	<string>AIzaSyAQdzJWkQWTnJj2e_6j0bC677VdGtUmSFI</string>
	<key>GCM_SENDER_ID</key>
	<string>89595953238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.sdu.Challenger</string>
	<key>PROJECT_ID</key>
	<string>challenger-133f2</string>
	<key>STORAGE_BUCKET</key>
	<string>challenger-133f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:89595953238:ios:32bdee6f0409a9ca0ebbf7</string>
	<key>DATABASE_URL</key>
	<string>https://challenger-133f2.firebaseio.com</string>
</dict>
</plist>
